@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  color-scheme: dark;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
