@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

html {
  color-scheme: dark;
}

body {
  @apply bg-background text-foreground;
  font-family: Arial, Helvetica, sans-serif;
}
